@mixin unordered-list {
	// FIXME: This is a temporary fix to remove the indent since Border's settings seems to be broken.
	// Remove this when Border's settings are fixed.
	--list-indent-editing: 0em;
	.markdown-rendered ul > li {
		margin-inline-start: 2ch;
	}
}

@mixin reset-checkbox {
	-webkit-mask-image: unset;
	background-color: unset;
	mask: unset;
	mask-image: unset;
	mask-size: unset;
	mask-repeat: unset;
	-webkit-mask-position-x: unset;
	-webkit-mask-position-y: unset;
}

@mixin letter-checkbox($letter) {
	input[data-task="#{$letter}"]:checked:after,
	li[data-task="#{$letter}"] > input:checked:after,
	li[data-task="#{$letter}"] > p > input:checked:after {
		@include reset-checkbox;

		content: "#{$letter}";
		color: var(--checkbox-marker-color);
		font-family: "Labrada", serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		font-size: var(--font-text-size);
		width: var(--checkbox-size);
		height: var(--checkbox-size);
		vertical-align: middle;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-1px);
	}
}

@mixin consequence-checkbox {
	input[data-task="-"]:checked,
	li[data-task="-"] > input:checked,
	li[data-task="-"] > p > input:checked {
		--checkbox-color: transparent;
		--checkbox-color-hover: transparent;
	}

	input[data-task="-"]:checked:after,
	li[data-task="-"] > input:checked:after,
	li[data-task="-"] > p > input:checked:after {
		@include reset-checkbox;

		content: "";
		width: var(--checkbox-size);
		height: var(--checkbox-size);
		background-image: var(--brumes-image-checkbox-minus);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}

@mixin success-checkbox {
	input[data-task="+"]:checked,
	li[data-task="+"] > input:checked,
	li[data-task="+"] > p > input:checked {
		--checkbox-color: transparent;
		--checkbox-color-hover: transparent;
	}

	input[data-task="+"]:checked:after,
	li[data-task="+"] > input:checked:after,
	li[data-task="+"] > p > input:checked:after {
		@include reset-checkbox;

		content: "";
		width: var(--checkbox-size);
		height: var(--checkbox-size);
		background-image: var(--brumes-image-checkbox-plus);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}

@mixin mixed-success-checkbox {
	input[data-task="~"]:checked,
	li[data-task="~"] > input:checked,
	li[data-task="~"] > p > input:checked {
		--checkbox-color: transparent;
		--checkbox-color-hover: transparent;
	}

	input[data-task="~"]:checked:after,
	li[data-task="~"] > input:checked:after,
	li[data-task="~"] > p > input:checked:after {
		@include reset-checkbox;

		content: "";
		width: var(--checkbox-size);
		height: var(--checkbox-size);
		background-image: var(--brumes-image-checkbox-tilde);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}

@mixin checkbox {
	--checkbox-margin-inline-start: 0px;
	--checkbox-size: 20px;
	--checkbox-color: #aa9b82;
	--checkbox-marker-color: #efeae6;

	$letters: "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "?";
	@each $letter in $letters {
		@include letter-checkbox($letter);
	}

	@include consequence-checkbox;
	@include success-checkbox;
	@include mixed-success-checkbox;
}
