@mixin hand-drawn-line {
	.view-content .markdown-rendered hr,
	.view-content hr {
		border: none;
		border-top: none;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 16px;
		background-image: var(--brumes-image-separator);
	}
}
